<!DOCTYPE html>
<html>
<head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                </li> <li class="nav-item">
                    <a class="nav-link" href="{{ path('map') }}">Map</a>
                </li>
                <li class="nav-item">
                    {% if app.user %}
                        <a class="nav-link" href="#">Castles</a>
                    {% else %}
                        <a class="nav-link disabled" href="#">Castles</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if app.user %}
                        <a class="nav-link" href="#">Army</a>
                    {% else %}
                        <a class="nav-link disabled" href="#">Army</a>
                    {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <span class="navbar-text">
                    {% if app.user %}
                        {{ app.user.username }}
                    {% else %}
                        Username
                    {% endif %}
                </span><pre> </pre>
                {% if app.user %}
                <a href="{{ logout_path('main') }}" class="btn btn-info btn-lg bg-danger active">LOGOUT</a>
                {% else %}
                <a href="{{ logout_path('main') }}" class="btn btn-info btn-lg bg-info disabled">LOGOUT</a>
                {% endif %}
            </form>
        </div>
    </nav>
    {% block head %}
    {% endblock head %}
    {% include 'view/Header.html' %}
</head>
<body>
<div class="container-fluid full">
    {% block body %}
    {% endblock %}
</div>
    {% include 'view/Footer.html' %}
    </body>
</html>
