<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<style CSS>
    html, body {
        height: 100%;
        margin: 0;
        color: #c4ac7c;
    }
    .bodytext {
        text-shadow: 2px 2px 4px #000000;
    }
    .full {
        background: url('http://www.l-ateliergourmand.com/images/wallpoper.com/images/00/41/57/56/light-dark_00415756.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        height:100%;
    }
    table.background {
        background: url("/pictures/Map.jpg") no-repeat;
        table-layout: fixed;
    }
    table {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .container {
        position: relative;
        height: 14rem;
        width: 75%;
        margin-top: 50px;
    }
    .jumbotron {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .navbarcolor {
        color: #c4ac7c;
    }
    .bg-primary {
        background: #c4ac7c !important;
        color: #c4ac7c !important;
    }
    #navigation, .navbar .navbar-expand-lg{
        background: url("/pictures/navbar_old-map-background_2550x2100.jpg") no-repeat;
        background-size: cover;
    }
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 35px 0 rgba(0, 0, 0, 0.19);
    }

</style>