<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<style CSS>
    html, body {
        height: 100%;
        margin: 0;
    }
    .full {
        background: url('http://www.l-ateliergourmand.com/images/wallpoper.com/images/00/41/57/56/light-dark_00415756.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        height:100%;
    }
    table.background {
        background: url("https://kottke.org/plus/misc/images/hobbit-map.jpg") no-repeat;
        table-layout: fixed;
    }
    .container {
        position: relative;
        height: 14rem;
    }
    .jumbotron {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .whitecolor {
        color: white;
    }
</style>