<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<style id="CSS">

    html, body {
        height: 100%;
        margin: 0;
        color: #c4ac7c;
        background: url('/pictures/BackgroundAll.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .bodytext {
        text-shadow: 2px 2px 4px #000000;
    }
    table.background {
        background: url("/pictures/Map.jpg") no-repeat;
        table-layout: fixed;
    }
    table.background1 {
        background: url("/pictures/TableStatsBackground.jpg");
        table-layout: auto;
    }
    table.text {
        text-decoration-color: #0000F0;
    }
    table {
        color: black;
        table-layout: fixed;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .container {
        position: relative;
        height: 14rem;
        width: 75%;
        margin-top: 100px;
    }
    .jumbotron {
        position: absolute;
        margin-top: 3%;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .navbarcolor {
        color: #c4ac7c;
    }
    .bg-primary {
        background: #c4ac7c !important;
        color: #c4ac7c !important;
    }
    #navigation, .navbar .navbar-expand-lg{
        background: url("/pictures/navbar_old-map-background_2550x2100.jpg") no-repeat;
        background-size: cover;
    }
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 35px 0 rgba(0, 0, 0, 0.19);
    }

</style>