{% extends 'view/base.html.twig' %}

{% block head %}

{% endblock %}

{% block body %}
<div style="background:transparent !important" class="jumbotron text-center">
    <h1 class="navbarcolor">WELCOME TO CASTLE WARS</h1><pre> </pre>
    <h2 class="navbarcolor">version 1.0</h2><pre> </pre>
    <a href="{{ path('login') }}" class="btn btn-outline-success btn-lg active" role="button" aria-pressed="true">LOGIN</a><pre> </pre>
    <a href="{{ path('register') }}" class="btn btn-primary btn-outline-success btn-lg active" role="button" aria-pressed="true">REGISTER</a>
</div>
{% endblock %}
