{% extends 'view/base.html.twig' %}

{% block head %}

{% endblock head %}

{% block body %}

    <div class="container">
    <div class="row align-items-center center">
    <div class="col-xs-12 col-sm-12 col-lg-12 text-center">
    <table class="background" border="black" style="width:1400px;height:800px;">

        {% for x in 0..9 %}
        <tr>
            {% for y in 0..9 %}
                {% set a =  x  ~  y  %}
                <td width="10%" height="10%">
                    {% for user in users %}
                        {% set userId =  user.id %}
                        {% if a == user.coordinates %}
                            <a href="{{ path( 'user_profile', { 'id': userId }) }}"><img src="{{ user.castleIcon }}" alt="" title="{{ user.username }}"></a>
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    </div>
    </div>
    </div>

{% endblock body %}