{% extends 'view/base.html.twig' %}

{% block head %}

{% endblock %}

{% block body %}
    <h1 class="navbarcolor">USERNAME Information {{ information }} USERNAME Income {{ income }}</h1><br><br>
    <h1>CASTLE Tables</h1><br><br>
    <h1>ARMY Tables</h1>
{% endblock %}