{% extends 'view/base.html.twig' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container h-100 d-flex">
        <div class="row align-items-center center">
            <div class="col-xs-4 col-sm-4 col-lg-4">
                <h1 class="navbarcolor">USERNAME Information {{ information }} USERNAME Income {{ income }}</h1>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4">
                <h1>CASTLE Tables</h1>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4">
                <h1>ARMY Tables</h1>
            </div>
        </div>
    </div>
{% endblock %}