@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
html, body {
    font-family: 'Encode Sans Expanded', sans-serif;
    position: relative;
    height: 100%;
    margin: 0;
    color: #c4ac7c;
    background: url('/pictures/BackgroundAll.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.menuinformationtextfood {
     color: darkred;
 }
.informationtextfood {
    color: #ff0000;
}
.menuinformationtextmetal {
    color: darkblue;
}
.informationtextmetal {
    color: #add8e6;
}
.traintime {
    color: yellow;
}
.bodytext {
    text-shadow: 2px 2px 4px #000000;
}
.table thead th {
    vertical-align: middle;
}
table.background {
    background: url("/pictures/Map.jpg") no-repeat;
    table-layout: fixed;
}
table.background1 {
    background: url("/pictures/TableStatsBackground.jpg");
    table-layout: auto;
}
table.text {
    text-decoration-color: #0000F0;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(0, 255, 0, 0.2);
    -moz-transition: all 0.5s ease-out;  /* FF4+ */
    -o-transition: all 0.5s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.5s ease-out;  /* Saf3.2+, Chrome */
    transition: all 0.5s ease-out;
}
table {
    color: black;
    table-layout: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.center-of-page{
    margin-top: calc(15% + 100px);
    align-items: center;
    display: flex;
    justify-content: center;
}
.container {
    position: relative;
    height: 14rem;
    width: 75%;
    margin-top: 100px;
}
.margin-top {
    margin-top: 5%;
}
.container-fluid {
    position: absolute;
    margin-top: 100px;
}
.jumbotron-fluid {
    position: absolute;
}
.jumbotron {
    position: absolute;
}
.bg-primary {
    background: #c4ac7c;
    color: #c4ac7c;
}
#navigation, .navbar .navbar-expand-lg{
    background: url("/pictures/navbar_old-map-background_2550x2100.jpg") no-repeat;
    background-size: cover;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 35px 0 rgba(0, 0, 0, 0.19);
}
.navbarcolor {
    color: #c4ac7c;
}
.nav-link:hover {
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: 10px;
    -moz-transition: all 0.5s ease-out;  /* FF4+ */
    -o-transition: all 0.5s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.5s ease-out;  /* Saf3.2+, Chrome */
    transition: all 0.5s ease-out;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3), -12px 0 8px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3), -12px 0 8px -4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3), -12px 0 8px -4px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3), -12px 0 8px -4px rgba(0, 0, 0, 0.3);
}
.nav-link:active {
    background-color: rgba(0, 80, 0, 0.2);
    border-radius: 10px;
    -moz-transition: all 0s ease-out;  /* FF4+ */
    -o-transition: all 0s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0s ease-out;  /* Saf3.2+, Chrome */
    transition: all 0s ease-out;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3), -12px 0 8px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3), -12px 0 8px -4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3), -12px 0 8px -4px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3), -12px 0 8px -4px rgba(0, 0, 0, 0.3);
}
.nav-link {
    margin: 0 30px 0 20px;
}
.carousel-control-prev.paddingleft {
    padding-left: 100px;
}
.carousel-control-next.paddingright {
    padding-right: 100px;
}
.carousel-control-prev, .carousel-control-next {
    height:0;
    top:50%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}
.carousel-control-next-icon:after {
    content: '>';
    font-size: 40px;
    font-weight: bold;
    color: #4BB534;
}
.carousel-control-prev-icon:after {
    content: '<';
    font-size: 40px;
    font-weight: bold;
    color: red;
}
input[type=number]{
    width: 400px;
    height: 80px;
    font-size: 80px;
    text-align: center;
    color: #c4ac7c;
    text-shadow: 2px 2px 4px #000000;
    background: transparent;
    border: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}